/* Reset i ogólne ustawienia */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html, body {
    height: 100%;
    margin: 0;
    background-color: #202020;
    padding-top: 30px;
}

/* Layout */
main {
    flex: 1; /* Umożliwia elastyczne wypełnienie strony */
}

/* Nagłówek i menu */
.navbar-brand img {
    width: auto;
    height: 30px;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    padding: 8px 15px;
}

.nav-link:hover {
    color: coral;
}

.navbar {
    background-color: #1c1c1c;
    position: fixed;
    width: 100%;
}

.custom-menu .nav-item {
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
}

.custom-menu .nav-link {
    color: white;
    font-size: 1.2rem;
    padding: 8px 15px;
}

.custom-menu .nav-link:hover {
    color: coral;
}

@media (max-width: 575px) {
    .custom-menu .nav-item {
        border-bottom: 1px solid white;
        margin: 0;
    }

    .custom-menu .nav-item:last-child {
        border-bottom: none;
    }
}

/* Sekcja opisu studia */
#studio-description {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: justify;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

#studio-description .overlay {
    background: rgba(0, 0, 0, 0.6); /* Ciemniejsza nakładka */
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    margin: auto;
}

.heading-decorated {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 45px;
}

.heading-decorated::before,
.heading-decorated::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: coral;
    margin: 0 20px;
}

.artist-photo {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.artist-photo:hover {
    transform: scale(1.05);
}

.artist-section {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.artist-section:last-child {
    margin-bottom: 0;
}

.artist-description h3 {
    color: coral;
    margin-top: 15px;
    margin-bottom: 15px;
}

.artist-description > p {
    line-height: 1.6;
    font-size: large;
}

.artist-styles {
    color: #bf502c;
    font-size: 0.9rem;
}

.artist-section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.artist-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.instagram-icon {
    color: coral;
    font-size: 1.3rem;
    margin-right: 10px;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.instagram-icon:hover {
    color: white;
}

#contact {
    color: white;
}

.contact-section {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.contact-section .col-md-3:last-child {
    margin-top: 20px;
}

#contact h3 {
    color: coral;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#contact ul {
    list-style-type: none;
    padding-left: 0;
}

#contact ul li {
    margin: 5px 0;
}

.contact-items {
    color: #bf502c;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-items:hover {
    text-decoration: none;
    color: white;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    height: 300px;
    margin-top: 20px;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Kolumny o pełnej szerokości w układzie flex */
#contact_form .col-md-7, #contact_form .col-md-5 {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

/* Sprawia, że textarea zajmuje pełną szerokość kolumny */
#message {
    height: calc(100% - 67px);
}

/* Styl dla pól formularza */
.form-control {
    border-radius: 5px;
    border: 2px solid #202020;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 15px;
    background-color: whitesmoke;
}

.form-control:focus, #message:focus {
    box-shadow: none;
    border: 2px solid coral;
}

/* Wyrównanie przycisku do prawego dolnego rogu */
#contact_form .d-flex {
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-primary {
    background-color: #bf502c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: #913820;
}



/* Stopka */
footer {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}