/* Reset i ogólne ustawienia */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #202020;
}

/* Layout */
main {
    flex: 1; /* Umożliwia elastyczne wypełnienie strony */
}

/* Nagłówek i menu */
.navbar-brand img {
    width: auto;
    height: 30px;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    padding: 8px 15px;
}

.nav-link:hover {
    color: coral;
}

.navbar {
    background-color: #1c1c1c;
}

.custom-menu .nav-item {
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
}
.custom-men-menu .nav-link {
    color: white;
    font-size: 1.2rem;
    padding: 8px 15px;
}

.custom-menu .nav-link:hover {
    color: coral;
}

@media (max-width: 576px) {
    .custom-menu .nav-item {
        border-bottom: 1px solid white;
        margin: none;
    }

    .custom-menu .nav-item:last-child {
        border-bottom: none;
    }
}

/* Sekcja opisu studia */
#studio-description {
    background-image: url('../images/bg.jpg'); /* Ścieżka do obrazka */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    position: relative;
    text-align: justify;
    width: 100vw; /* Zajmuje całą szerokość widoku */
}

#studio-description .overlay {
    background: rgba(0, 0, 0, 0.6); /* Ciemniejsza nakładka */
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    margin: auto;
}

/* Stopka */
footer {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}
